<!-- Main content -->
<section class="content container-fluid">
	<!-- /.row -->
	<div class="row">
		<div class="col-md-8">
			<div class="box box-widget">
				<div class="box-header with-border">
					<div class="user-block">
						<img class="img-circle" src="assets/img/user.png" alt="User Image">
						<span class="description pull-right">23 Jan 7:30 PM Hoje</span> <span
							class="username"><a href="#">Jonathan Burke Jr.</a></span> <span
							class="description">Promoter Gold</span>
					</div>
				</div>
				<div class="box-body">
					<p>Far far away, behind the word mountains, far from the
						countries Vokalia and Consonantia, there live the blind texts.
						Separated they live in Bookmarksgrove right at</p>
					<dl class="dl-horizontal">
						<dt>Description lists</dt>
						<dd>A description list is perfect for defining terms.</dd>
						<dt>Euismod</dt>
						<dd>Vestibulum id ligula porta felis euismod semper eget
							lacinia odio sem nec elit.</dd>
						<dd>Donec id elit non mi porta gravida at eget metus.</dd>
					</dl>
					<span class="pull-right text-muted">45 visualizações</span>
				</div>
			</div>

			<div class="box box-widget">
				<div class="box-header with-border">
					<div class="user-block">
						<img class="img-circle" src="assets/img/user.png" alt="User Image">
						<span class="description pull-right">31 Dez 4:45 AM Hoje</span> <span
							class="username"><a href="#">Gilbert Hill</a></span> <span
							class="description">Promoter Trainee</span>
					</div>
				</div>
				<div class="box-body">
					<dl class="dl-horizontal">
						<dt>Description lists</dt>
						<dd>A description list is perfect for defining terms.</dd>
					</dl>
					<span class="pull-right text-muted">15 visualizações</span>
				</div>
			</div>

			<div class="box box-widget">
				<div class="box-header with-border">
					<div class="user-block">
						<img class="img-circle" src="assets/img/user.png" alt="User Image">
						<span class="description pull-right">10 Out 8:20 PM Ontem</span> <span
							class="username"><a href="#">Nora Jones</a></span> <span
							class="description">Promoter Start</span>
					</div>
				</div>
				<div class="box-body">
					<dl class="dl-horizontal">
						<dt>Description lists</dt>
						<dd>A description list is perfect for defining terms.</dd>
					</dl>
					<div class="attachment-block clearfix">
						<img class="attachment-img" src="assets/img/default-50x50.gif"
							alt="Product Image">
						<div class="attachment-pushed">
							<h4 class="attachment-heading">
								<a href="http://www.lipsum.com/">Lorem ipsum text generator</a>
							</h4>
							<div class="attachment-text">
								Description about the attachment can be placed here. Lorem Ipsum
								is simply dummy text of the printing and typesetting industry...
								<a href="#">more</a>
							</div>
						</div>
					</div>
					<span class="pull-right text-muted">15 visualizações</span>
				</div>
			</div>

			<div class="box box-widget">
				<div class="box-header with-border">
					<div class="user-block">
						<img class="img-circle" src="assets/img/user.png" alt="User Image">
						<span class="description pull-right">14 Mai 13:10 PM</span> <span
							class="username"><a href="#">Alexander Kelv</a></span> <span
							class="description">Promoter Diamond</span>
					</div>
				</div>
				<div class="box-body">
					<dl class="dl-horizontal">
						<dt>Description lists</dt>
						<dd>A description list is perfect for defining terms.</dd>
					</dl>
					<span class="pull-right text-muted">15 visualizações</span>
				</div>
			</div>

			<div class="box box-widget">
				<div class="box-header with-border">
					<div class="user-block">
						<img class="img-circle" src="assets/img/user.png" alt="User Image">
						<span class="description pull-right">15 Feb 10:30 AM</span> <span
							class="username"><a href="#">Felicity Maia</a></span> <span
							class="description">Promoter Start</span>
					</div>
				</div>
				<div class="box-body">
					<dl class="dl-horizontal">
						<dt>Description lists</dt>
						<dd>A description list is perfect for defining terms.</dd>
					</dl>
					<div class="attachment-block clearfix">
						<img class="attachment-img" src="assets/img/default-50x50.gif"
							alt="Product Image">
						<div class="attachment-pushed">
							<h4 class="attachment-heading">
								<a href="http://www.lipsum.com/">Lorem ipsum text generator</a>
							</h4>
							<div class="attachment-text">
								Description about the attachment can be placed here. Lorem Ipsum
								is simply dummy text of the printing and typesetting industry...
								<a href="#">more</a>
							</div>
						</div>
					</div>
					<span class="pull-right text-muted">15 visualizações</span>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<fieldset>
				<legend>
					<h4>Propagandas</h4>
				</legend>
			</fieldset>

			<div class="form-group text-center">
				<img class="attachment-img" src="assets/img/250x250.png"
					alt="Product Image">
			</div>

			<div class="form-group text-center">
				<img class="attachment-img" src="assets/img/250x500.png"
					alt="Product Image">
			</div>

			<div class="form-group text-center">
				<img class="attachment-img" src="assets/img/250x50.png"
					alt="Product Image">
			</div>

			<div class="form-group text-center">
				<img class="attachment-img" src="assets/img/250x50.png"
					alt="Product Image">
			</div>
		</div>
	</div>

	<!--------------------------
        | Your Page Content Here |
        -------------------------->
</section>
<!-- /.content -->