<div class="login-box">
	<div class="login-logo">
		<a href="view/index.html"><span class="divulplace-brand"></span></a>
	</div>
	<!-- /.login-logo -->
	<div class="login-box-body">
		<p class="login-box-msg">Login</p>

		<div class="form-group has-feedback">
			<input type="email" class="form-control" placeholder="E-mail">
			<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
		</div>
		<div class="form-group has-feedback">
			<input type="password" class="form-control" placeholder="Senha">
			<span class="glyphicon glyphicon-lock form-control-feedback"></span>
		</div>
		<div class="row">
			<div class="col-xs-8">
				<p>
					<label> <input type="checkbox"> Lembrar Senha
					</label>
				</p>
			</div>
			<!-- /.col -->
			<div class="col-xs-4">
				<a href="#" (click)="autenticar()" 
					class="btn btn-primary btn-block btn-flat">Entrar</a>
			</div>
			<!-- /.col -->
		</div>

		<a href="#" >Esqueci minha senha</a><br>
		<a href="#" class="text-center">Registrar como novo membro</a>

	</div>
	<!-- /.login-box-body -->
</div>
<!-- /.login-box -->