<div class="wrapper hold-transition skin-blue sidebar-mini"
	[class.sidebar-collapse]="isMenuToggle"
	[class.sidebar-open]="isMenuToggle"
	[class.login-page]="!isLogged"
	>
  <div class="" [class.wrapper]="isLogged">

	
	
    <!-- Main Header -->
    <app-dashboard 
    	*ngIf="isLogged" 
    	[menuToggle]="isMenuToggle" 
    	(toggleMenu)="menuToggled($event)">
    </app-dashboard>
  
    <!-- Login Header -->
    <app-login 
    	*ngIf="!isLogged" 
    	(userAutenticado)="loginAutenticado($event)">
    </app-login>
    
  </div>
</div>